body {
    background-color: #3c4daa;
}

h1{
    color:white;
    text-align: center;
    margin-top: 1cm;
}

h2,h3,h4,h5{
    color:#7e8092;
}

p, ul {
    font-size: 16px;
    color: #555;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.bg-light {
    background-color: #ffffff !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul {
    list-style-type: none;
    padding: 0;
}

li,ul,p{
    color:black;
}

a{
    text-decoration: none;
    color:black;
}
