body {
    background-color: #3c4daa;
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact; 
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 300%;
}
h2, h3, h4, h5 {
    color: #7e8092;
}
p, ul {
    font-size: 16px;
    color: #555;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.bg-light {
    background-color: #ffffff !important;
}

ul {
    margin-left: 1cm;
    padding: 0;
}
li, ul, p {
    color: black;
}
a {
    text-decoration: none;
    color: black;
    display: inline-block; 
    transition: all 0.3s ease;
}
a:hover {
  color: #3498db;
  transform: translateY(-3px);
}

.progress-bar-html { width: 90%; background-color: #3c4daa; }
.progress-bar-css { width: 90%; background-color: #3c4daa; }
.progress-bar-php { width: 50%; background-color: #3c4daa; }
.progress-bar-github { width: 90%; background-color: #3c4daa; }
.progress-bar-figma { width: 90%; background-color: #3c4daa; }
.progress-bar-français { width: 100%; background-color: #3c4daa; }
.progress-bar-anglais { width: 50%; background-color: #3c4daa; }
.progress-bar-allemand { width: 30%; background-color: #3c4daa; }
.progress-bar-arabe { width: 40%; background-color: #3c4daa; }
.progress-bar-js{ width: 50%; background-color: #3c4daa;}
.progress-bar-phpmyadmin { width: 90%; background-color: #3c4daa; }
.progress-bar-docker { width: 50%; background-color: #3c4daa; }

.soustitre{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 200%;
    font-weight: 350;
    margin-bottom: 1cm;
}

h2,h3{
    font-size:180%;
}


.print-btn .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}
.progress mb-2{
    color:#ffffff;
}


@media print {
    .print-btn, a {
    display: none; 
    margin-top: 40px;
    text-align: center;
    }


}
